/* impostazioni pagina */

/* fine impostazioni pagina */

/* impostazioni header */
header {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 1%;
}

#logo-header {
    width: 20%;
}
/* fine impostazioni header */

/* impostazioni main */
main {
    margin-left: 5%;
    margin-right: 5%;
}
/* impostazioni sezione foto iniziali */
.author {
    color: gray;
}

.description {
    font-size: smaller;
}

#header-colour {
    color: aqua;
}

#date {
    font-size: small;
}
/* fine impostazioni sezione foto iniziali */

/* impostazioni paragrafo ed elenco*/
.highlight {
    background-color: yellow;
}
/* fine impostazioni paragrafo ed elenco */

/* impostazioni tabella non tabella */
.title {
    background-color: rgb(46, 158, 255);
    color: white;
}

.skyblue {
    background-color: skyblue;
}

.title-row {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.row1 {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.row2 {
    display: inline-block;
    width: 32%;
}
/* fine impostazioni tabella non tabella */

/* fine impostazioni main */

/* impostazioni footer */
footer {
    margin-left: 5%;
    margin-right: 5%;
}

#footer {
    color: gray;
}

#link-1 {
    color: white;
    background-image: url(../img/monitor.jpg);
    padding-bottom: 13%;
    width: 22%;
}

#link-2 {
    color: white;
    background-image: url(../img/graph.jpg);
    padding-bottom: 13%;
    width: 22%;
}
/* fine impostazioni footer */