/* impostazioni pagina */

/* fine impostazioni pagina */

/* impostazioni header */
header {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 1%;
}

#logo-header {
    width: 20%;
}
/* fine impostazioni header */

/* impostazioni main */

/* impostazioni sezione foto iniziali */
.author {
    color: gray;
}

.description {
    font-size: smaller;
}

#header-colour {
    color: aqua;
}

#date {
    font-size: small;
}
/* fine impostazioni sezione foto iniziali */

/* impostazioni paragrafo ed elenco*/
.highlight {
    background-color: yellow;
}
/* fine impostazioni paragrafo ed elenco */

/* impostazioni tabella non tabella */
.title {
    background-color: rgb(46, 158, 255);
    color: white;
}

.skyblue {
    background-color: skyblue;
}

.row1 {
    display: inline-block;
    width: 32%;
}

.row2 {
    display: inline-block;
    width: 32%;
}

.row3 {
    display: inline-block;
    width: 32%;
}
/* fine impostazioni tabella non tabella */

/* fine impostazioni main */

/* inpostazioni footer */

/* fine impostazioni footer */